@import url('https://fonts.googleapis.com/css2?family=Parisienne&display=swap');
*{
    margin: 0;
    padding: 0;
    font-family: 'Oswald', sans-serif;
}
h1, h2, h3, h4, h5, h6{
    font-weight: bold;
}

.right .mainContent{
    position: relative;
}

.mainContent{
    display: flex;
    flex-direction: column;
    gap: 40px;
}

.costela img{
    position: sticky;
    box-shadow: 0px 2px 7px 0px rgba(0,0,0,0.75);
    left: 0px;
    background-color: #dbdbdb;
    width: 100vw;
    object-fit: cover;
}

.content{
    padding: 10px;
    align-self: center;
    background-color: #dbdbdb;
    border-radius: 20px;
    box-shadow: 0px 2px 7px 0px rgba(0,0,0,0.75);
    background-image: url(imgs/folha-amassada1.jpg);
    background-repeat: repeat;
    background-position: center;
    margin-bottom: 3vh;
    object-fit: cover;
}

.content article section:nth-child(1) p:nth-child(4){
    text-align: center;
}

.content .pratos{
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    justify-content: space-evenly;
    gap: 20px;
}

.pratos img{
    width: 200px;
    height: 200px;
    object-fit: cover;
    border-radius: 100px;
}

.pratos img:hover{
    filter: blur(3px);
    transition: filter 0.5s;
    cursor: pointer;
}

.content section:nth-child(2) h2{
    margin-top: 5vh;
    margin-bottom: 3vh;

}

.content p{
    font-size: 1.2em;
    margin-bottom: 1vh;
    color: blanchedalmond;
}

.content p i{
    color: #E0AA3E;
}

.content h1{
    font-family: 'Parisienne', cursive;
    color: #E0AA3E;  
    text-align: center;
    font-size: 3em;
    margin-top: 3vh;
    margin-bottom: 3vh;
}
.content h2{
    font-family: 'Parisienne', cursive;
    font-size: 2.5em;
    color: #E0AA3E;
    text-align: center;
    margin-bottom: 2vh;
    text-decoration-color: #E0AA3E;
}

.content h3{
    font-family: 'Parisienne', cursive;
    text-align: left;
    font-size: 2em;
    margin-bottom: 1vh;
}

.content h4{
    font-family: 'Parisienne', cursive;
    text-align: left;
    font-size: 1.35em;
    margin-bottom: 0.5vh;
    
}
.content article section:nth-child(1){
    text-align: center;
}

.content article section:nth-child(2){
    margin-bottom: 4vh;
}

.pratos{
    margin-top: 2vh;
}

.pratos div{
    position: relative;
    display: flex;
    justify-content: center;
    align-items: center;
}

.pratos div a{
    position: absolute;
    font-size: 2em;
    font-weight: 550;
    text-shadow: 2px 2px 6px rgba(150, 150, 150, 1);
    opacity: 100;
    color:antiquewhite;
    font-family: 'Parisienne', cursive;
    /* background-color: rgba(0, 0, 0, 0.377); */
    text-decoration: none;
    border-radius: 10px;
    padding: 5px 10px;
    z-index: 1;
    opacity: 0;
}



.underline{
    text-decoration: none;
    font-family: 'Parisienne', cursive;
    color: #bb810d;
    font-weight: 900;
    font-size: 1.2em;
    
}

@media (max-width:600px){
    .mainContent{
        gap: 20px;
    }

    .costela img{
        position: sticky;
        border-radius: 5px;
        left: 0px;
        width: 100vw;
        height: 150px;
        object-fit: cover;
    }

    .content section:nth-child(1) h1{
        font-size: 2em;
        text-align: center;
    }
    
}
